.btn{
    border-radius: 10px;
    font-size: 22px;
    height:35px;
    padding: 3px 10px 3px 10px;
    outline: none;
    border: none;
    border: none;
    color: white;
    background-color: #66ccff;
}
.btn:hover{
    cursor: pointer;
    background-color:cornflowerblue;
}
ul li{
    list-style: none;
}