@charset "UTF-8";
*{
    color: #66ccff;
}
#sys_content{
    border: none;
    width: 1100px;
    min-height: 900px;
}
.case_table,#case_table_data{
    width: 1050px;
}

#case_search input,#case_key{
    float: right;
    outline: none;
    padding: 3px 10px;
    border-radius: 17px;
    font-size: 24px;
}
#case_search_key{
    width: 280px;
    height: 32px;
    color: black;
}
#case_search_btn{
    border: none;
    outline: none;
    margin-left: 10px;
    width: 75px;
    height: 42px;
    background-color: #66ccff;
    color: white;
}
#case_search,#right_top{
    padding-top: 30px;
    height: 100px;
    width: auto;
}
#ul_page li{
    cursor: pointer;
    margin-left: 5px;
    font-size: 16px;
    float: left;
}
ul li{
    cursor: pointer;
}

#addDeptDiv{
    position: absolute;
    width: 400px;
    height: 600px;
    border: solid 1px cornflowerblue;
    display: none;
    z-index: 999;
}
#addDeptT tr td:nth-child(odd){
    text-align: right;
}
#addDeptT tr td:nth-child(even){
    text-align: right;
}

.hao{
    font-weight:bold;
    color:red;
    font-size:20px;
}
