<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.momosv.hos.dao.TbBaseUserPOMapper" >
  <resultMap id="BaseResultMap" type="cn.momosv.hos.model.TbBaseUserPO" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="passwd" property="passwd" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="id_card" property="idCard" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="head_image" property="headImage" jdbcType="VARCHAR" />
    <result column="act_code" property="actCode" jdbcType="INTEGER" />
    <result column="old_email" property="oldEmail" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="marital_Status" property="maritalStatus" jdbcType="INTEGER" />
    <result column="blood_type" property="bloodType" jdbcType="VARCHAR" />
    <result column="weight" property="weight" jdbcType="DOUBLE" />
    <result column="id_national" property="idNational" jdbcType="VARCHAR" />
    <result column="id_face" property="idFace" jdbcType="VARCHAR" />
    <result column="id_hand" property="idHand" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, account, passwd, name, sex, id_card, telephone, email, address, create_time, 
    head_image, act_code, old_email, birthday, maritalStatus, blood_type, weight,id_national,
    id_face,id_hand
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_base_user
    where id = #{id,jdbcType=VARCHAR}
  </select>
</mapper>