<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.momosv.hos.dao.TbConsultationPOMapper" >
  <resultMap id="BaseResultMap" type="cn.momosv.hos.model.TbConsultationPO" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="case_id" property="caseId" jdbcType="VARCHAR" />
    <result column="aim" property="aim" jdbcType="VARCHAR" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="phy_exam" property="phyExam" jdbcType="VARCHAR" />
    <result column="medical_record" property="medicalRecord" jdbcType="VARCHAR" />
    <result column="opinion" property="opinion" jdbcType="VARCHAR" />
    <result column="hos_and_dept" property="hosAndDept" jdbcType="VARCHAR" />
    <result column="suggestion" property="suggestion" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="doctors" property="doctors" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, case_id, aim, summary, phy_exam, medical_record, opinion, hos_and_dept, suggestion,
    create_time, doctors, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_consultation
    where id = #{id,jdbcType=VARCHAR}
  </select>
</mapper>