<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.momosv.hos.dao.TbOrgPatientPOMapper" >
  <resultMap id="BaseResultMap" type="cn.momosv.hos.model.TbOrgPatientPO" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="treat_code" property="treatCode" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="is_agent" property="isAgent" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, org_id, user_id, treat_code, create_time, is_agent
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_org_patient
    where id = #{id,jdbcType=VARCHAR}
  </select>
</mapper>